<template name="header">
  <header>
    <h1>Completed Tasks ({{incompleteCount}})</h1>
    {{> loginButtons}}
    <button onclick="location.href = './demo'" class="demo-task">Demo Tasks</button>
    {{#if currentUser}}
      <form class="new-task">
        <input type="text" name="text" placeholder="Type to add new tasks" />
        <input type="date" name="date"/>
      </form>
    {{/if}}
  </header>
</template>

<template name="todaylist">
  <ul>
    Today
    {{#each tasks}}
      {{> task}}
    {{/each}}
  </ul>
</template>

<template name="weeklist">
  <ul>
    This Week
    {{#each weeks}}
      {{> task}}
    {{/each}}
  </ul>
</template>

<template name="laterlist">
  <ul>
    Later
    {{#each laters}}
      {{> task}}
    {{/each}}
  </ul>
</template>

<template name="task">
  <li class="{{#if checked}}checked{{/if}} {{#if private}}private{{/if}}">
    <button class="delete">&times;</button>
    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
    {{#if isOwner}}
      <button class="toggle-private">
        {{#if private}}
          Public
        {{else}}
          Private
        {{/if}}
      </button>
    {{/if}}
    <a href="/tasks/{{_id}}" id={{_id}} class="{{#if checked}}disabled{{/if}}"><span class="text">{{text}} (By <strong>{{username}}</strong>)</span></a>
  </li>
</template>
